<%- include('./partials/head') %>

<div class="register-container">
    <h2 class="title">Cambiar contraseña</h2>

    <div>
        <form id="changePass" class="form-register">
            <input id="password" name="password" type="password" class="complete" placeholder="Nueva contraseña"></input>
            <input id="newPassword" name="newPassword" type="password" class="complete" placeholder="Repite tu contraseña"></input>
            <input type="submit" class="boton-ok">
        </form>
    </div>

    <div>
        <button class="boton-ok" onclick="regsiter()">Registrarme</button>
        <button class="boton-ok" onclick="login()">Iniciar sesion</button>
    </div>
</div>

<script>
    const form = document.getElementById('changePass');
    const params = new Proxy(new URLSearchParams(window.location.search),{
        get: (searchParams,prop) => searchParams.get(prop)
    })
    const token = params.tkn
    console.log("token: ", token)
    form.addEventListener('submit',evt=>{
        evt.preventDefault();
        let data = new FormData(form);
        let obj = {};
        data.forEach((value,key)=>obj[key]=value);
        obj.token = token
        console.log(obj)
        fetch('/account/restore',{
            method:'PUT',
            body:JSON.stringify(obj),
            headers:{
                "Content-Type":"application/json"
            }
        }).then(result=>result.json().then(json=>{
            console.log(json)
           window.location.replace('/accoun/login');
        }));
    })
</script>
