
<div class="grid-admin">
    <div>
        <h1>Productos</h1>
        <div class="grid-products">
            <div class="card-admin" style="grid-column-start: 1" onclick="goToFormAdd()">
                <h3>Agregar</h3>
            </div>
            <div class="card-admin" onclick="goToFormDelete()">
                <h3>Borrar</h3>
            </div>
            <div class="card-admin" onclick="goToFormUpdate()">
                <h3>Modificar</h3>
            </div>
            <div class="card-admin" onclick="goToProducts()">
                <h3>Ver todos</h3>
            </div>
        </div>
    </div>
    <div>
        <h1>Carritos</h1>
        <div class="card-admin" onclick="goToCarts()">
            <h3>Ver todos los carritos</h3>
        </div>
    </div>
    <div>
        <h1>Mensajes</h1>
        <div class="card-admin" onclick="goToMessages()">
            <h3>Ver todos los mensajes</h3>
        </div> 

    </div>
</div>