<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>
<script>
    function logout(){
        window.location.replace('/account/logout')
    }

    function login(){
        window.location.replace('/account/login')
    }

    function register(){
        window.location.replace('/account/register')
    }

    function recover(){
        window.location.replace('/account/recover')
    }
</script>